/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

input::-webkit-input-placeholder {
  color: #B1B1B1;
}

.header {
  background: #222222;
  width: 100%;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
  cursor: pointer;
}

.header__navigation {
  position: relative;
  background: white;
  display: none;
  height: 765px;
  margin: 0 0 0 1639px;
  box-shadow: 7px 23px 19px -5px rgba(0, 0, 0, 0.19);
}

.header__navigation-title {
  text-transform: uppercase;
  margin: 37px 143px 24px 34px;
}

.header__navigation-button {
  display: flex;
  align-self: flex-end;
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 20px;
}

.header__navigation-menu--toggle {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-self: flex-end;
}

.header__navigation-list--parent {
  text-transform: uppercase;
  margin: 0 0 12px 33px;
}

.header__person-link {
  margin: 0 34px 0 0;
}

.header__list-parent--title {
  color: #F16D7F;
  text-decoration: none;
}

.header__list-parent--subtitle {
  text-decoration: none;
  margin: 0 0 0 55px;
  color: #6F6E6E;
}

.header__list-parent--li {
  margin: 0 0 12px 0;
}

.brand {
  display: flex;
  margin: 0 0 63px;
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  display: block;
  position: relative;
}

.brand__title::before {
  content: '';
  width: 13px;
  height: 105px;
  position: absolute;
  left: -35px;
  background-color: #F16D7F;
}

.brand__title-wrapper {
  padding: 0 0 0 91px;
  background-color: #F1E4E6;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.brand__subtitle {
  display: block;
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

.brand__subtitle--pink {
  color: #F16D7F;
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers__item {
  color: white;
  width: 360px;
  min-height: 260px;
  background-color: #474040;
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offers__item-title {
  text-transform: uppercase;
}

.offers__item-subtitle {
  text-transform: uppercase;
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.offers__item--woman {
  background-image: url(../img/woman_1.jpg);
  display: flex;
  flex-direction: column;
}

.offers__item--man {
  background-image: url(../img/man_1.jpg);
  display: flex;
  flex-direction: column;
}

.offers__item--kids {
  background-image: url(../img/kid_1.jpg);
  display: flex;
  flex-direction: column;
}

.offers__item--accesories {
  background-image: url(../img/accesories.jpg);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 180px;
  margin: 0 0 97px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__item {
  background-color: #F8F8F8;
  margin: 0 0 30px 0;
}

.products__add-to--cart {
  position: absolute;
  width: 500px;
  border: 5px lightblue;
}

.products__text--wrapper {
  text-align: center;
  margin-bottom: 97px;
}

.products__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.products__subtitle {
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.products__item--title {
  text-transform: uppercase;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  margin: 25px 194px 12px 18px;
}

.products__item--subtitle {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  width: 314px;
  margin: 12px 28px 18px 17px;
}

.products__item--price {
  color: #F16D7F;
  margin: 18px 290px 20px 18px;
}

.products__link {
  text-align: center;
  margin: 63px 0 0 0;
}

.products__link--title {
  text-decoration: none;
  color: #F16D7F;
  padding: 14px 39px;
  border: 1px solid #FF6A6A;
}

.products__link--title:hover {
  color: white;
  background-color: #F16D7F;
}

.foot__preview {
  background-color: #222224;
  margin: 109px 0 0 0;
}

.foot__preview--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 104px 0 104px 0;
}

.foot__preview--item {
  width: 360px;
  text-align: center;
  color: white;
}

.foot__preview--item-title {
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 16px 0;
}

.foot__preview--item-subtitle {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: #b6b6b6;
}

.foot__preview--item-ico {
  margin: 0 0 28px 0;
}

.footer__info {
  background: url(../img/subscribe_background.png);
  width: 100%;
  background-repeat: no-repeat;
  height: 448px;
  background-size: cover;
}

.footer__info .footer__info-con {
  display: flex;
  justify-content: space-between;
}

.footer__info .footer__woman--info {
  margin: 87px 0 0 0;
}

.footer__info .footer__woman--item {
  margin: 0 0 35px 125px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.footer__info .footer__woman--title {
  width: 360px;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.footer__info .footer__subscribe {
  text-align: center;
}

.footer__info .footer__subscribe--title {
  margin: 150px 0 0 0;
  font-size: 24px;
  font-weight: 700;
}

.footer__info .footer__subscribe--subtitle {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 0 30px 0;
}

.footer__info .footer__subscribe-content--input {
  border: none;
  background: #E1E1E1;
  padding: 15px;
  width: auto;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.footer__info .footer__subscribe-content--button {
  padding: 15px;
  width: auto;
  background: #F16D7F;
  border: none;
  color: white;
  cursor: pointer;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomright: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.footer {
  background: #222224;
  display: flex;
  justify-content: space-around;
}

.footer__copyright {
  color: white;
  margin: 30px 0 30px 0;
}

.footer__media {
  margin: 30px 0 30px 0;
}

.registration {
  display: flex;
  justify-content: space-between;
}

.registration__text {
  background: #F8F3F4;
  width: 100%;
  height: 148px;
}

.registration__text--heading {
  padding: 60px 0 0 0;
  text-transform: uppercase;
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

.registration__form {
  margin: 64px 0 0 0;
  display: flex;
  flex-direction: column;
}

.registration__form--title {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  margin: 0 0 33px 0;
}

.registration__form--input {
  display: flex;
  margin: 0 0 21px 0;
  padding: 13px 277px 16px 17px;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  margin: 0 0 21px 0;
}

.registration__form--genders {
  display: flex;
  flex-direction: row;
}

.registration__form--genders-sex {
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  margin: 0 30px 0 0;
}

.registration__form--input-margin {
  margin: 0 20px 0 0;
}

.registration__form--input-gender {
  margin: 0 10px 30px 0;
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
}

.registration__form--rules {
  margin: 15px 0 55px 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__form--button {
  background: transparent;
  background-color: #F16D7F;
  border: none;
  padding: 15px;
  color: white;
  margin: 0 0 113px 0;
  cursor: pointer;
}

.registration__form--button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.registration__form--img {
  padding: 0 0 0 20px;
}

.registration__perks {
  margin: 64px 0 0 128px;
}

.registration__perks--title {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  margin: 0 0 22px 0;
}

.registration__perks--list-heading {
  width: 652px;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  margin: 0 0 21px 0;
}

.registration__perks--list-item {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
}

.registration__perks--list-item::before {
  content: "\2714";
  padding: 0 20px 0 0;
}
/*# sourceMappingURL=style.css.map */