$darkblue: #222222;
$pink: #F1E4E6;
$dark-pink: #F16D7F;
$brown: #474040;
$soft-gray: #9F9F9F;
$gray: #5D5D5D;
$light-gray: #F8F8F8;
$dark: #222224;
$soft-light-gray: #b6b6b6;
$some-gray-shit: #E1E1E1;
$light-pink: #F8F3F4;
$some-gray-lol: #6F6E6E;